.maquina {
    position: relative;
    background: #252440;
}
.maquina::after {
    content: "";
    background: #252440;
    border-left: 4px solid white;
    right: 0;
    height: 100%;
    position: absolute;
    animation: maquinaescribir 2s infinite alternate steps(9);
}
@keyframes maquinaescribir {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}