/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29), ;
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;

}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.modal {
  align-items: flex-start;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  justify-content: center;
  align-items: center;
  z-index: 999998 !important;
}

.modal-content {
  color: var(--color-text);
    background: var(--color-background);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease, opacity 1s ease;
    
}


.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

.modal-image {
  width: 90%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.nav-button {
  background-color: rgba(235, 235, 235, 0.11);
  border: none;
  font-size: 28px;
  cursor: pointer;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #444444;
  position: relative;
  height: 100%;
}

.nav-button.prev {
  position: absolute;
  left: 0px;
}

.nav-button.next {
  position: absolute;
  right: 0px;
}
.square {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background: linear-gradient(#303030, #757575);
  z-index: -2;
  transform: translate(-50%, -50%);

}

.circle {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background: #1cd99d;
	border-radius: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
}

.triangle {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background: linear-gradient(#0c0c0b, #4856a1);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: -2;
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.boton-azul {
  margin-top: 10px;
  background-color: #01264e; /* Color azul */
  color: rgb(202, 201, 201); /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Relleno (padding) */
  font-size: 16px; /* Tamaño del texto */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s; /* Transición para el efecto hover */
}

.boton-azul:hover {
  background-color: #011b36; /* Color azul más oscuro al pasar el cursor */
}

.boton-azul:active {
  background-color: #011b36; /* Color azul más oscuro al pasar el cursor */
  box-shadow:  2px 2px 2px 2px #344961a2 ;
  color: rgb(116, 116, 116); /* Color del texto */

}
@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }

  .nav-button.prev,
  .nav-button.next {
    font-size: 24px;
  }
}